SpringHealthOne/Web References/SpringWS/RPWServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://smart.springer-mps.com/service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.72.132.141:8080/RPWServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMARTservice" />
  <xs:import schemaLocation="http://10.72.132.141:8080/RPWServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://10.72.132.141:8080/RPWServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="PubMedSearchResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="summaryResultsType" nillable="true" type="q1:PubMedSummaryResultsType" />
        <xs:element minOccurs="0" name="start_row" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="num_rows" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PubMedSearchResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="PubMedSearchResultsResult" nillable="true" type="q2:PubMedFullResultsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reprintOpprtunityId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="GetArticleDetailsResult" nillable="true" type="q3:ArticleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetASavedSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetASavedSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="GetASavedSearchResult" nillable="true" type="q4:SavedSearchType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthToken">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgottenLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgottenLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForgottenLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="GetAccountDetailsResult" nillable="true" type="q5:AccountType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="account" nillable="true" type="q6:AccountType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAccountDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="account" nillable="true" type="q7:AccountType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeactivateAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFavourites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="reprintOpprtunityIds" nillable="true" type="q8:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFavouritesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFavouritesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFavourite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="reprintOpprtunityIds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFavouriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFavouriteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavourites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavouritesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="GetFavouritesResult" nillable="true" type="q9:FullResultsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSavedSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="search_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSavedSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSavedSearchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSavedSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSavedSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSavedSearchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSavedSearches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSavedSearchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="GetSavedSearchesResult" nillable="true" type="q10:SavedSearchesType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Drugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numMatches" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DrugsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DrugsResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Journals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numMatches" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="JournalsResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Devices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numMatches" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DevicesResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Indications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numMatches" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IndicationsResult" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TherapyAreas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numMatches" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TherapyAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TherapyAreasResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Manufacturers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numMatches" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ManufacturersResult" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Countries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numMatches" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CountriesResult" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicSearchSummaryResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="monthFromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yearFromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="monthToDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yearToDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="journalTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sort_by" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sort_order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicSearchSummaryResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://smart.springer-mps.com/service" minOccurs="0" name="GetBasicSearchSummaryResultsResult" nillable="true" type="q18:SummaryResultsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SummaryResultsType">
    <xs:sequence>
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="contentTypeResults" nillable="true" type="q19:ArrayOfContentType" />
      <xs:element minOccurs="0" name="numResults" type="xs:int" />
      <xs:element minOccurs="0" name="search_id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q20="http://smart.springer-mps.com/service" name="SummaryResultsType" nillable="true" type="q20:SummaryResultsType" />
  <xs:element name="GetAdvancedSearchSummaryResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drug" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="monthFromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yearFromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="monthToDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yearToDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="journalTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="articleTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indication" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="therapyArea" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="manufacturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pubmedId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="citation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sponsoredBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sort_by" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sort_order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvancedSearchSummaryResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://smart.springer-mps.com/service" minOccurs="0" name="GetAdvancedSearchSummaryResultsResult" nillable="true" type="q21:SummaryResultsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoggedOutSearchResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="search_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="num_rows" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoggedOutSearchResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="GetLoggedOutSearchResultsResult" nillable="true" type="q22:FullResultsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoggedInSearchResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="search_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start_row" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end_row" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoggedInSearchResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="GetLoggedInSearchResultsResult" nillable="true" type="q23:FullResultsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuoteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="requests" nillable="true" type="q24:ArrayOfQuoteRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuoteRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertQuoteRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="request" nillable="true" type="q25:ContactUsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactUsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PubMedSearchSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="search_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PubMedSearchSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SMARTservice" minOccurs="0" name="PubMedSearchSummaryResult" nillable="true" type="q26:PubMedSummaryResultsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>